<!DOCTYPE html>
<html>
  <head>
    <title>Medical_com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  
  <body class="d-flex flex-column">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
     <a class="navbar-brand " href="/"><%= image_tag('logo.png', size: '250x50') %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
      
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to '投稿一覧', clinicals_path, class: 'nav-link text-primary btn btn-outline-primary' %>
            </li>
            <li class="nav-item">
              <%= link_to '投稿フォーム', new_clinical_path, class: 'nav-link text-primary btn btn-outline-primary' %>
            </li>
            <li class="nav-item">
              <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-primary btn btn-outline-primary' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-primary btn btn-outline-primary' %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
            <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'nav-link text-dark' %>
            </li>
            <% end %>
            
            <% if admin_signed_in? %> 
              <% if request.fullpath.include? "/admin" %>
              <li class="nav-item">
                 <%= link_to 'ユーザーコメント一覧', admin_clinical_comments_path(current_user), class: 'nav-link text-primary btn btn-outline-primary' %>
              </li>
              <% end %>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="min-vh-100">
    <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-2 pb-2">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>医療SNS</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>